.password-generator-container {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.input {
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border: none;
  background-color: var(--dark-grey);
  font-size: var(--fz-l);
  color: var(--almost-white);
}

.password-generator-options {
  background-color: var(--dark-grey);
  padding: 1rem;
  color: var(--almost-white);
}

.range {
  width: 100%;
  margin-bottom: 1rem;
}

.password-generator-length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.password-generator-length-number {
  font-size: var(--fz-xl);
}

.strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strength__title,
.strength__value {
  font-size: var(--fz-l);
  margin-block: 1rem;
}
